N8N_VERSION=2.6.4
N8N_ENCRYPTION_KEY=replace-with-a-long-random-value
SIMSIMALGO_REPOSITORY_PATH=/home/sprout/projects/SimSimAlgo
SIMSIMALGO_DEPLOY_KEY_PATH=/home/sprout/.ssh/simsimalgo_deploy_key
GIT_AUTHOR_NAME=red-sprout
GIT_AUTHOR_EMAIL=jjw05015@gmail.com
DISCORD_WEBHOOK_URL=